<h3>Nominate</h3>

<%= form_tag(add_restaurant_huddle_path(@huddle), method: :put) do %>
	<%= text_field_tag 'restaurant_url', '', placeholder: 'Enter restaurant url from Yelp' %>
	<%= submit_tag 'Nominate' %>
<% end %>

<% if @huddle.nominations and @huddle.nominations.length > 0 %>
	<h3>Nominations so far</h3>
	<% @huddle.nominations.each do |nom| %>
		<%= link_to nom.name, nom.url, rel: "shadowbox", title: nom.name, class: "nom-link" %>
	<% end %>
<% end %>


<%= link_to "Done Adding Restaurants", invite_voters_huddle_path(@huddle) %>